.Character {
  display: flex;
  margin: 0 auto;
  padding-top: 5em;
  width: 50em;
}

.Character-content {
margin-left: 2rem;
}

.Character-episode{
    margin-top: 2rem;
}

.loadingimg{
  text-align: center;
  margin: 0 auto;
}
